<h2> Add a Room </h2>

<form action="/rooms" method="post" enctype="multipart/form-data">
  <label for="room-name-input"> Room Name </label>
  <br>
  <input id="room-name-input" type="text" name="roomName" placeholder="Room Name">
  <br>

  <label for="photo-input">Photo URL</label>
  <br>
  <input id="photo-input" type="file" name="roomPhoto" placeholder="...photo.jpg">
  <br>

  <label for="desc-input"> Description</label>
  <br>
  <textarea id="desc-input"type="text" name="roomDescription" placeholder="Beautiful"></textarea>
  <br>
  <br>
  <button> Save Room </button>
</form>
